$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';


$AAIconGreen : #5FBB5A;

$AAIconBlue : #3079B6;

$AAIconBrown : #F0A00C;


//bakgrunn blå #DFE7ED brun #EDE8DF grønn #E0EDDF
//inputGB blå #AFB5BA brun #BAB6AF grønn #B0BAAF
//skrift blå #323436 brun #363432 grønn #323632
//element blå #EBF3FA brun #FAF5EB grønn #ECFAEB
//inputfocus blå #E4ECF2 brun #F2EDE4 grønn #E4F2E4


$font-color: #323436;
$font-input-color: #323436;
$element: #FAF7F0;
$background: #DFE7ED;
$inputBackground: #CCCAC6;
$inputBgFocus: #F2EDE4;
$smallbtn: #CCCAC6;
$smallbtnText: #fafafa;
$divider: #9E9B95;
$active: #3079B6;
$inactive: #FAF5EB;
$primary: #3079B6;
$secundary: #F0A00C;
$tertiary: #5FBB5A;
$primaryLight: #fffef9;


$headerText : #fffef9;
$menuColor : #f3f3f3;
$footerColor : #ededed;
$listEle : #ffff;






$Afont-color: #505050;
$Aelement: #6D9CC2;
$Abackground: #FFEDCC;
$AinputBackground: #FFEDCC;
$AinputBgFocus: #FFEDCC;
$Asmallbtn: #cbcbcb;
$AsmallbtnText: #fafafa;
$Adivider: #FFEDCC;
$Aactive: #F0A00C;
$Ainactive: #3079B6;
$Aprimary: #3079B6;
$Asecundary: #F0A00C;
$AprimaryLight: #fffef9;

$AheaderText : #fffef9;
$AmenuColor : #f3f3f3;
$AfooterColor : #ededed;
$AlistEle : #ffff;
